### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Gradle ###
build/
.gradle/

### Docker ###
.env
docker-compose.override.yaml
docker-compose.override.yml

### Notas locais ###
docs/deployment.md
